.yarn/*
.pnp.*

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
/.idea/*
/apps/api/coverage/*
**/.env
/apps/web/public/**/*:Zone.Identifier
/apps/e2e/test-results/*
